<html>
    <body>
        <h1> Welcome to the CRUD APP.</h1>
        <h2>Please Enter the Details of the new User</h2>
        <form [formGroup]="addUserForm">
          <label >Email*</label>
          <input type="email" formControlName="emailId">
          <label >Name*</label>
          <input type="text" formControlName="name">
          <label >Password*</label>
          <input type="password" formControlName="password">
          <br>
          <button type="submit" (click)="submit()">Submit</button>
          <br>
          <a href="#" routerLink="/home">Home</a>
        </form>

    </body>
</html>